@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
<!-- Views/Shared/AccessDenied.cshtml -->
@{
    ViewData["Title"] = "Access Denied";
    Layout = "";
}

<h2 style="color:red">Access Denied</h2>

<p>
    You don't have permission to access this resource.
</p>
