@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model Zencareservice.Models.Login
@{
    ViewData["Title"] = "Login";
    Layout = "";
}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="google-signin-client_id" content="YOUR_CLIENT_ID.apps.googleusercontent.com">
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <title>Login</title>

    <!-- Font Icon -->
    <link rel="stylesheet" href="~/fonts/material-icon/css/material-design-iconic-font.min.css">

    <!-- Main css -->
    <link rel="stylesheet" href="~/css/loginstyle.css">
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="~/js/toast.js"></script>
</head>
<body>
    <div class="main">
        <section class="sign-in">
            <div class="container">
                <div class="signin-content">
                    <div class="signin-image">
                        <figure><img src="~/images/signin-zencare.png" alt="login image"></figure>
                        <a asp-action="AdminRegister" asp-controller="Account" class="signup-image-link">Create an account</a>
                        <a href="ForgotPassword" class="signup-image-link"> Forgot Password/Reset Password</a>"
                    </div>

                    <div class="signin-form">
                        <h2 class="form-title">Login</h2>
                        <form method="POST" class="register-form" id="login-form" asp-action="Login" asp-controller="Account">
                            <div class="form-group">
                                <label asp-for="Username"><i class="zmdi zmdi-account material-icons-name"></i></label>
                                <input type="text" name="Username" id="your_name" asp-for="Username" placeholder="UserName or Email" />
                                <span asp-validation-for="Username" class="text-danger" />

                            </div>
                            <div class="form-group">
                                <label asp-for="Password"><i class="zmdi zmdi-lock"></i></label>
                                <input type="password" name="Password" asp-for="Password" placeholder="Password"/>  
                                <span asp-validation-for="Password" class="text-danger"/>
                            </div>
                            <div class="form-group">
                                <input type="checkbox" name="remember-me" id="remember-me" class="agree-term" />
                                <label for="remember-me" class="label-agree-term"><span><span></span></span>Remember me</label>
                            </div>
                            <div class="form-group form-button">
                                <button type="submit" name="signin" id="signin" class="form-submit" value="Log in" onclick="alert()" > Signin</button>
                            </div>
                            <div class="social-login">
                                <span class="social-label">Or login with</span>
                                <div class="g-signin2" data-onsuccess="onSignIn"></div>
                            </div>
                        </form>
                      
                    </div>
                </div>
            </div>
        </section>
    </div>
    <script src="https://apis.google.com/js/platform.js" async defer></script>
    <script>
        function onSignIn(googleUser) {
            var profile = googleUser.getBasicProfile();
            console.log('ID: ' + profile.getId()); // Do not send to your backend! Use an ID token instead.
            console.log('Name: ' + profile.getName());
            console.log('Image URL: ' + profile.getImageUrl());
            console.log('Email: ' + profile.getEmail()); // This is null if the 'email' scope is not present.
        }
    </script>
    <a href="#" onclick="signOut();">Sign out</a>
    <script>
        function signOut() {
            var auth2 = gapi.auth2.getAuthInstance();
            auth2.signOut().then(function () {
                console.log('User signed out.');
            });
        }
    </script>
    @* <script>
        var message = '@ViewBag.Message';
        alert(message);

        var toastMixin = Swal.mixin({
            toast: true,
            icon: "success",
            title: "General Title",
            animation: false,
            position: "top-right",
            showConfirmButton: false,
            timer: 3000,
            timerProgressBar: true,
            didOpen: (toast) => {
                toast.addEventListener("mouseenter", Swal.stopTimer);
                toast.addEventListener("mouseleave", Swal.resumeTimer);
            }
        });

        document.querySelector(".first").addEventListener("click", function () {
            Swal.fire({
                toast: true,
                icon: "success",
                title: "Posted successfully",
                animation: false,
                position: "bottom",
                showConfirmButton: false,
                timer: 3000,
                timerProgressBar: true,
                didOpen: (toast) => {
                    toast.addEventListener("mouseenter", Swal.stopTimer);
                    toast.addEventListener("mouseleave", Swal.resumeTimer);
                }
            });
        });

        document.querySelector(".form-submit").addEventListener("click", function () {
            toastMixin.fire({
                animation: true,
                title: "Signed in Successfully"
            });
        });

        document.querySelector(".third").addEventListener("click", function () {
            toastMixin.fire({
                title: "Wrong Password",
                icon: "error"
            });
        });


    </script> *@
    <script>
        function alert()
        {
            Swal.fire({
                title: "Good job!",
                text: "You clicked the button!",
                icon: "success"
            });
        }

    </script>
   

</body>
</html>
