@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
	ViewData["Title"] = "PatientRegister";
	Layout = "";
}
@model Zencareservice.Models.Signup

<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="author" content="Kodinger">
	<meta name="viewport" content="width=device-width,initial-scale=1">
	<title>PatientRegistration</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	<link rel="stylesheet" type="text/css" href="~/css/my-login.css">
</head>
<body class="my-login-page">
	<section class="h-100">
		<div class="container h-100">
			<div class="row justify-content-md-center h-100">
				<div class="card-wrapper">
					<div class="brand">
						<img src="~/images/signin-zencare.png" alt="bootstrap 4 login page">
					</div>
					<div class="card fat">
						<div class="card-body"> 
							<h4 class="card-title">Register</h4>
							<h5 style="color:red" class="form-title"> @ViewBag.Message</h5>
							<form method="POST" class="my-login-validation" novalidate="" asp-action="PatientRegister" asp-controller="Account">
								<div asp-validation-summary="ModelOnly" class="text-danger"></div>
								<div class="form-group">
									<label asp-for="Firstname">First Name</label>
									<input type="text" id="firstname" class="form-control" asp-for="Firstname" minlength="4" maxlength="16" required autofocus />
									<span asp-validation-for="Firstname" ></span>
									
								</div>
								<div class="form-group">
									<label asp-for="Lastname"> Last Name</label>
									<input type="text" class="form-control" asp-for="Lastname" id="lastname" minlength="4" maxlength="16" required autofocus />
									<div class="invalid-feedback">
										<span asp-validation-for="Lastname" class="text-danger"></span>
									</div>
								</div>

								<div class="form-group">
									<label asp-for="Email">E-Mail Address</label>
									<input id="email" type="email" class="form-control" asp-for="Email" name="email" pattern="^[a-zA-Z0-9._%+-]+[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}$" title="Please enter a valid email address" required />
									<div class="invalid-feedback">
										<span asp-validation-for="Email" class="text-danger"></span>
									</div>
								</div>

								<div class="form-group">
									<label asp-for="Password">Password</label>
									<input id="password" type="password" class="form-control" asp-for="Password" name="password" pattern="^(?=.*[A-Za-z0-9])(?=.*[@@$!%*#?&]).{8,16}$" title="Password must be at least 8 characters long, alphanumeric, and contain at least one special character." required data-eye />
									<div class="invalid-feedback">
										<span asp-validation-for="Password" class="text-danger"></span>
									</div>
								</div>
								<div class="form-group">
									<label asp-for="Confirmpassword">Password</label>
									<input type="password" class="form-control" asp-for="Confirmpassword" id="confirmpassword" name="confirmpassword" title="Password must be at least 8 characters long, alphanumeric, and contain at least one special character." required data-eye />
									<div class="invalid-feedback">
										<span asp-validation-for="Confirmpassword" class="text-danger"></span>
									</div>
								</div>
								<div class="form-group">
									<label asp-for="Username">UserName</label>
									<input id="username" type="text" class="form-control" asp-for="Username" name="username" title="Username must be alphanumeric and between 6 and 10 characters." required />
									<div class="invalid-feedback">
										<span asp-validation-for="Username" class="invalid-feedback"></span>
									</div>
								</div>
								<div class="form-group">
									<label asp-for="Phonenumber">Phoneno</label>
									<input type="tel" class="form-control" asp-for="Phonenumber"  id="phonenumber" name="phonenumber" pattern="[0-9]{10}" title="Enter a valid 10-digit phone number" required />
									<div class="invalid-feedback">
										<span asp-validation-for="Phonenumber" class="text-danger"></span>
									</div>
								</div>
								<div class="form-group">
									<label asp-for="Dob">DOb</label>
									<input id="dob" type="date" class="form-control" asp-for="Dob" name="Dob" required />
									<div class="invalid-feedback">
										<span asp-validation-for="Dob" class="text-danger"></span>
									</div>
								</div>
								<div class="form-group">
									<div class="custom-checkbox custom-control">
										<input type="checkbox" name="agree" id="agree" class="custom-control-input" required/">
										<label for="agree" class="custom-control-label">I agree to the <a href="~/forms/termsofservice.html" data-toggle="modal" data-target="#termsModal">Terms and Conditions</a></label>
										<div class="invalid-feedback">
											You must agree with our Terms and Conditions
										</div>
										<input type="hidden" name="returnUrl" value="@ViewData["ReturnUrl"]" />

									</div>
								</div>

								<div class="form-group m-0">
									<button type="submit" class="btn btn-primary btn-block">Register</button>									
								</div>
								<div class="mt-4 text-center">
									Already have an account? <a asp-action="PatientLogin" asp-controller="Account">Login</a>
								</div>
							</form>
						</div>
					</div>
					<div class="footer">
						Copyright &copy; 2023 &mdash; Zencareservice
					</div>
				</div>
			</div>
		</div>
	</section>

	<div class="modal" id="termsModal" tabindex="-1" role="dialog">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header" style="background-color:azure">
					<h2 class="modal-title">Terms of Service</h2>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true" class="custom-close-btn">&times;</span>
					</button>
				</div>
				<div class="modal-body" style="background-color:azure">
					<!-- Your Terms of Service content goes here -->
					<h1>Zenhealthcare System Portal Privacy Policy</h1>

					<p>Effective Date: Nov 25, 2022</p>
					<p>Revised Date: Dec 2, 2023</p>

					<h1>Overview</h1>

					<p>We are committed to protecting your privacy and the security of the information you entrust with us. This privacy policy (Policy) discloses our information gathering and dissemination practices. Your use of Zenhealthcare System Portal is governed by the terms of this Policy, and by using or accessing Zenhealthcare System Portal you agree to be bound by it.</p>

					<h1>How the Health Information in Zenhealthcare System Portal is Obtained</h1>

					<p>Zenhealthcare System Portal provides a view into your Electronic Medical Record (EMR) which is maintained by us and also allows us to communicate securely with you. The information available for you to view through Zenhealthcare System Portal is not a comprehensive view of all the data in your EMR.</p>

					<p>Zenhealthcare System Portal maintains limited information about you, such as your name, date of birth, and medical record number. Your personal health information is not separately maintained or managed through Zenhealthcare System Portal.</p>

					<p>Zenhealthcare System Portal uses your Cerner Health account to confirm your identity when you sign into Zenhealthcare System Portal. Cerner Health is a personal health record service and is subject to its own Terms of Use and Privacy Policy.</p>

					<h1>Information You Contribute to Zenhealthcare System Portal</h1>

					<p>When you enter information in Zenhealthcare System Portal, that information is stored in your EMR where it is accessible to members of your care team and staff. Information that becomes a part of your EMR remains in your EMR even if you stop using Zenhealthcare System Portal.</p>

					<h1>Sharing Your Personal Health Information</h1>

					<p>If you share information available through Zenhealthcare System Portal with another individual, you acknowledge and accept responsibility for your decision to provide them access to potentially sensitive information.</p>

					<h1>How Information is Collected and Used</h1>

					<p>Zenhealthcare System Portal collects certain information from you in three ways: (i) from web server logs, (ii) with cookies and web analytics tools, and (iii) directly from you.</p>

					<h1>(a) IP Addresses (Server Log Information)</h1>

					<p>An IP address is a number automatically assigned to your computer whenever you access the Internet. All computer identification on the Internet is conducted with IP addresses, which allow computers and servers to recognize and communicate with each other. Zenhealthcare System Portal collects IP addresses in order to conduct system administration, report Aggregate Information (as defined below) to affiliates or partners, and to conduct web site analysis. Security monitoring is in place and reviewed on a constant basis in order to identify users who threaten the Zenhealthcare System Portal service, web site, users, clients or others.</p>

					<h1>(b) Cookies and Web Analytics Tools.</h1>

					<p>Zenhealthcare System Portal places a text file called a 'cookie' in the browser files of your computer. Cookies are pieces of information that a website transfers to an individual's hard disk for record-keeping purposes. Zenhealthcare System Portal uses cookies during your online session, secure your information, and improve performance of Zenhealthcare System Portal. These cookies do not contain any personal information. You may disable cookies in your browser but doing so will restrict your access to only public pages and you will no longer be able to access Zenhealthcare System Portal. In addition to cookies, some web analytics tools used by Zenhealthcare System Portalplace a single-pixel GIF file

				</div>
				<div class="modal-footer" style="background-color:azure">
					<button type="button" class="btn btn-primary" data-dismiss="modal">Accept and Close</button>
				</div>
			</div>
		</div>
	</div>

	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
	<script src="~/js/my-login.js"></script>
	<script type="text/javascript">	
			$(document).ready(function () {
				var swalMessage = '@TempData["SwalMessage"]';
				var swalType = '@TempData["SwalType"]';

				if (swalMessage !== '') {
					Swal.fire({
						icon: swalType,
						title: swalMessage,
						showConfirmButton: false,
						timer: 1500 // Adjust the timer as needed
					});
				}
			});
	
	</script>

</body>
</html>