@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@using System.Data;
@{
    Layout = "_AdminLayout";
    ViewData["Title"] = "CreateAppointment";
    DataTable dataTable = ViewBag.DataSet;
    var dataRows = dataTable.AsEnumerable();
    var selectedValue = ViewBag.SelectedValue;
}
@model Zencareservice.Models.Appts;


<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>Appointment</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="#">Home</a></li>
                    <li class="breadcrumb-item active">Appointment</li>
                </ol>
            </div>
        </div>
    </div><!-- /.container-fluid -->
</section>
<div class="container-fluid">
    <!-- SELECT2 EXAMPLE -->
    <div class="card card-default">
            <div class="card-header">
                <h3 class="card-title">@ViewData["Title"]</h3>
                <div class="card-tools">
                    <button type="button" class="btn btn-tool" data-card-widget="collapse">
                        <i class="fas fa-minus"></i>
                    </button>
                    <button type="button" class="btn btn-tool" data-card-widget="remove">
                        <i class="fas fa-times"></i>
                    </button>
                </div>
            </div>
        <!-- /.card-header -->
        <form method="post" asp-action="Aptcrt" asp-controller="Appointments">
        <div class="card-body">
            
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-row">
                    <div class="form-group col-md-3">
                            <label>Doctor Name</label>
                            <select class="form-control select2" style="width: 100%;">
                                <option selected="selected">Alabama</option>
                                <option>Alaska</option>
                                <option>California</option>
                                <option>Delaware</option>
                                <option>Tennessee</option>
                                <option>Texas</option>
                                <option>Washington</option>
                            </select>
                    </div>
                    <div class="form-group col-md-3">
                        <label asp-for="DoctorLastName">DoctorLastName</label>
                        <input asp-for="DoctorLastName" type="text" class="form-control" placeholder="DoctorName">
                        <span asp-validation-for="DoctorLastName" class="text-danger"></span>
                    </div>
                    <div class="form-group col-md-3">
                        <label asp-for="PatientFirstName">PatientName</label>
                        <input asp-for="PatientFirstName" type="text" class="form-control" id="patientname" placeholder="PatientName">
                        <span asp-validation-for="PatientFirstName" class="text-danger"></span>
                    </div>
                    <div class="form-group col-md-3">
                        <label asp-for="PatientLastName">Patient LastName</label>
                        <input asp-for="PatientLastName" type="text" class="form-control" id="patientname" placeholder="PatientName">
                        <span asp-validation-for="PatientLastName" class="text-danger"></span>
                    </div>                   
            </div>
                <div class="form-row">
                        <div class="form-group col-md-3">
                            <label asp-for="PatientAge">Age</label>
                            <input asp-for="PatientAge" type="text" class="form-control" id="Age" placeholder="Age">
                        </div>
                        <div class="form-group col-md-3">
                            <label asp-for="PatientGender">Gender</label>
                             @Html.DropDownListFor(model => model.PatientGender, ViewBag.GenderList as List<SelectListItem>, new { @class = "form-control" })
                            <span asp-validation-for="PatientGender" class="text-danger"></span>
                        </div>

                        <div class="form-group col-md-3">
                            <label asp-for="Patientphoneno">ContactNo</label>
                            <input asp-for="Patientphoneno" type="tel" class="form-control" id="ContactNo" placeholder="PatientContactNo">
                            <span asp-validation-for="Patientphoneno" class="text-danger"></span>
                        </div>
                        <div class="form-group col-md-3">
                            <label asp-for="PatientAddress1">PatientAddress1</label>
                            <input asp-for="PatientAddress1" type="text" class="form-control" id="patientaddress1">
                            <span asp-validation-for="PatientAddress1" class="text-danger"></span>
                        </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label asp-for="ReasonType">ReasonType</label>
                        <input asp-for="ReasonType" type="text" class="form-control" id="reasontype">
                        <span asp-validation-for="ReasonType" class="text-danger"></span>
                    </div>
                    <div class="form-group col-md-3">
                        <label asp-for="AptBookingDate">AppointmentDate</label>
                        <input asp-for="AptBookingDate" type="date" class="form-control" id="appointmentdate">
                        <span asp-validation-for="AptBookingDate" class="text-danger"></span>
                    </div>
                    <div class="form-group col-md-3">
                        <label asp-for="AptBookingTime">AppointmentTime</label>
                        <input asp-for="AptBookingTime" type="time" class="form-control" id="appointmenttime">
                        <span asp-validation-for="AptBookingTime" class="text-danger"></span>
                    </div>
                </div>        
        </div>
        </form>
        <button type="button" class="form-submit btn btn-block btn-success btn-lg ">Save Appointment</button>
         </div>
                
        <!-- /.card-body -->
        <div class="card-footer">
            Visit <a href="https://select2.github.io/">Select2 documentation</a> for more examples and information about
            the plugin.
        </div>
    </div>
