@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = "_AdminLayout";
    ViewData["Title"] = "EditPrescriptions";
}
@model Zencareservice.Models.Prescs;
<h3>PrescriptionDetails</h3>
<html>
<head>
    <meta lang="en" />
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
    <form asp-action="Prescedit" asp-controller="Prescriptions" method="post">
        <div class="form-row">
            <div class="form-group col-md-3">
                <label asp-for="DoctorFirstName">DoctorFirstName</label>
                <input type="text" asp-for="DoctorFirstName" class="form-control" id="patientname" placeholder="DoctorName">
                <span asp-validation-for="DoctorFirstName" class="text-danger"></span>
            </div>
            <div class="form-group col-md-3">
                <label asp-for="DoctorLastName">DoctorLastName</label>
                <input type="text" asp-for="DoctorLastName" class="form-control" id="patientname" placeholder="DoctorName">
                <span asp-validation-for="DoctorLastName" class="text-danger"></span>
            </div>
            <div class="form-group col-md-3">
                <label asp-for="PatientFirstName">PatientFirstName</label>
                <input type="text" asp-for="PatientFirstName" class="form-control" id="lastname" placeholder="PatientFirstName">
                <span asp-validation-for="PatientFirstName" class="text-danger"></span>
            </div>
            <div class="form-group col-md-3">
                <label asp-for="PatientLastName">PatientLastName</label>
                <input type="text" asp-for="PatientLastName" class="form-control" id="lastname" placeholder="PatientLastName">
                <span asp-validation-for="PatientLastName" class="text-danger"></span>
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-3">
                <label asp-for="PatientAge">Age</label>
                <input asp-for="PatientAge" type=" text" class="form-control" id="age" placeholder="Age">
                <span asp-validation-for="PatientAge" class="text-danger"></span>
            </div>
            <div class="form-group col-md-3">
                <label asp-for="PatientPhoneno">ContactNo</label>
                <input asp-for="PatientPhoneno" type="tel" class="form-control" id="phoneno" placeholder="ContactNo">
                <span asp-validation-for="PatientPhoneno" class="text-danger"></span>
            </div>
            <div class="form-group col-md-3">
                <label asp-for="PatientGender">Gender</label>
                <select asp-for="PatientGender" name="BedType" id="gender" class="form-control">
                    <option value="Male">Male</option>
                    <option value="Female">Female</option>
                    <option value="Transgender">Transgender</option>
                </select>

                <span asp-validation-for="PatientGender" class="text-danger"></span>

            </div>
            <div class="form-group col-md-3">
                <label asp-for="PatientEmail">PatientEmail</label>
                <input asp-for="PatientEmail" class="form-control" placeholder="PatientEmail" />
                <span asp-validation-for="PatientGender" class="text-danger"></span>

            </div>
        </div>
        <div class="form-row">

            <div class="form-group col-md-12">
                <label asp-for="PrescriptionDetail">Prescription Details</label>
                <input asp-for="PrescriptionDetail" type="text" class="form-control" id="prescriptiondetails">
                <span asp-validation-for="PrescriptionDetail" class="text-danger"></span>
            </div>
        </div>
    

         
        <div class="form-row">
            <button type="submit" class="btn btn-primary">Update Prescription</button>
        </div>
    </form>
</body>
</html>


@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
